<header class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Immobilière</a>
    <nav>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/addResidence">Ajouter une Résidence</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/addApartment">Ajouter un Appartement</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>
