<h2>Résidences</h2>
<ul>
  <li *ngFor="let residence of listResidences">
    {{ residence.name }} - {{ residence.address }}
    <button (click)="showApartments(residence)">Show apartments</button>
    <ul *ngIf="selectedResidence === residence">
      <li *ngFor="let apartment of residenceApartments">
        {{ apartment.description }} - {{ apartment.surface }} m² - <button (click)="addToFavorites(apartment)">Like</button>
      </li>
      <li *ngIf="residenceApartments.length === 0">No Apartment found</li>
    </ul>
  </li>
</ul>

<h2>Appartements</h2>
<input type="number" placeholder="Search by surface" [(ngModel)]="surfaceFilter">
<ul>
  <li *ngFor="let apartment of filteredApartments">
    {{ apartment.description }} - {{ apartment.surface }} m² - <button (click)="addToFavorites(apartment)">Like</button>
  </li>
</ul>
